
<div id="page" class="container" align="center">
	<!--<div id="content" align="center">-->
		<div class="title">
			<h2>Consolidado de informaci&oacute;n</h2>
		</div>
        <br />
<br>
Filtro de Busqueda:
<%= form_for(:consolidado, url: coordinador_consolidado_path) do |s| %>
		<input type="checkbox" name="fil1"><%= s.collection_select :materia, @materias, :id, :lineamateria %>
		<input type="checkbox" name="fil2"><%= s.collection_select :semestre_id, @semestres, :id, :id_sem %>
                <br>
		<%= s.submit "Buscar" %>
		<% end %>
<br>
<div class="liquid-slider"  id="main-slider">
<div>
      <h2 class="title">Resumen</h2>
          <table border="1" cellspacing="0">
    	    <tr><th>Semestre</th><th>C&oacute;digo Materia</th><th>Nombre Materia</th><th>Estudiantes Inscritos</th><th>Escenario de Prueba</th></tr>
			<% @busqueda.each do |r| %>
			<tr><td><%= r.id_sem %></td><td><%= r.idu %></td><td><%= r.nombre %></td><td><%= r.num_estud %></td>
			<td><%= form_for(:asign, url: asignacion_resultado_path) do |h| %>	
	<%= h.hidden_field :materia, :value => "#{r.id_materia}" %>	
	<%= h.hidden_field :semestre_id, :value => "#{r.id_semestre}" %>
	<%= h.submit "Ver/Asignar Cupos" %>
	<% end %>
</td>
</tr>
    <% end %>
</table>
 

  </div>
 <div>
      <h2 class="title">Cantidad de Programas Inscritos</h2>
          <div id="piechart" style="width: 900px; height: 500px;"></div>
 

  </div>      
 <div>
      <h2 class="title">Cantidad de Estudiantes Antiguos Inscritos</h2>
          
        <div id="piechartt" style="width: 900px; height: 500px;"></div>

  </div> 
</div>
		
		
		
		
	<!--</div>-->
</div>


<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>
 <script type="text/javascript">
   google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
      var lst = new Array();
      lst.push(["Estudiantes","Cuenta"]);
      <% @cuentamaestrias.each do |elemm| %>
         
    
        lst.push(["<%=elemm.nombre%>",<%=elemm.ct%>]);
      <% end %>

        var data = google.visualization.arrayToDataTable(lst);

       
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, { backgroundColor: { fill: "#F2F2F2" } });

        var lsto = new Array();
        
         var sum = 0;
         <% @cuentaantiguos.each do |elem| %>
		<%if @semantigu.to_i - elem.apellidos.to_i >= 400%>
                    sum++;
                <%end%>	
          <% end %>
           lsto.push(["Estudiantes","Cuenta"]);
          lsto.push(["Resto de Estudiantes",<%=@cuentaantiguos.count%> - sum]);
          lsto.push(["Estudiantes Ultimo Semestre o Antiguos",sum]);
          
        var datao = google.visualization.arrayToDataTable(lsto);
        var charto = new google.visualization.PieChart(document.getElementById('piechartt'));
        charto.draw(datao, { backgroundColor: { fill: "#F2F2F2" } });
      
$('#main-slider').liquidSlider();
      
     }
      
    </script>