<div id="header">
	<div id="menu" class="container">
		<ul>
			<li><%= link_to "HOME", root_path%></li>
			<li><%= link_to "PENSUM TENTATIVO", estudiante_pensumtent_path%></li>
			<li><%= link_to "SEMESTRE TENTATIVO", estudiante_semtent_path%></li>
			<li><%= link_to "CONSOLIDADO", coordinador_consolidado_path%></li>
			<li><%= link_to "ASIGNAR CUPOS", asignacion_seleccionar_path%></li>
		</ul>
	</div>
</div>
<div id="logo" class="container">
	<h1><%= link_to (image_tag 'logo.png'), root_path%></a></h1>
</div>
<div id="page" class="container" align="center">
	<!--<div id="content">-->
		<div class="title">
			<h2>Asignaci&oacute;n de Cupos</h2>
		</div>
		<br/>
		<li><%= link_to "Volver", asignacion_seleccionar_path%></li>
		<br/>
	<!--</div>-->
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>