
<div id="page" class="container" align="center">
	<div class="title">
		<h2>Materias tentativas para un semestre:</h2>
	</div>
	<br/>
	<table>
	<%= form_for :semestre, url: semestre_show_path do |m| %>
	<tr>
	<td><%= m.label "Que semestre desea ver: " %></td>
	<td><%= m.collection_select :semestre_id, @semestres, :id, :id_sem %></td>
	</tr>
	<tr>
	<td><%= m.label "Codigo de estudiante: " %></td>
	<td><%= m.text_field :cod_stud %></td>
	</tr>
	<tr>
	<td><%= m.submit "Ver semestre" %></td>
	</tr>
	<% end %>
	</table>
	<br/>
	<div class="title">
		<h2>Agregar materias a un pensum tentativo</h2>
	</div>
	<br/>
	<table>
	<%= form_for :semestre, url: semestre_new_path do |s| %>
	<tr>
	<td><%= s.label "Codigo del estudiante: " %></td>
	<td><%= s.text_field :cod_stud %></td>
	</tr>
	<tr>
	<td><%= s.label "Materia: " %></td>
	<td><%= s.collection_select :materia, @materias, :id, :lineamateria %></td>
	</tr>
	<tr>
	<td><%= s.label "Semestre: " %></td>
	<td><%= s.collection_select :semestre_id, @semestres, :id, :id_sem %></td>
	</tr>
	<tr>
	<td><%= s.submit "Agregar" %></td>
	</tr>
	<% end %>
	</table>
</div>	
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>
