

<div id="page" class="container" align="center">
	<div class="title">
		<h2>Mi Plan de estudios tentativo:</h2>
	</div><br>
<p>Programa: <%= @prg.first.codigo + " - " + @prg.first.nombre %></p>
	<br/>
<div class="liquid-slider"  id="main-slider">
<div>
      <h2 class="title">Resumen</h2>
          <table border="1" cellspacing="0">
	<tr><th>Semestre</th><th>C&oacute;digo Materia</th><th>Nombre materia</th></tr>
	<% @pensum.each do |pen| %>
	<tr><td><%= pen.id_sem %></td><td><%= pen.idu %></td><td><%= pen.nombre %></td></tr>
	<%end%>
	</table>
 

  </div>
   <% @semestres.each do |elem|%>
 <div>
      <h2 class="title"><%=elem.id_sem %></h2>
            Para el <%=elem.id_sem %> planeo estudiar:<br>
          <% @cursossem = EstudianteMateriaPeriodo.select("id_sem, idu, nombre").joins("join materia on estudiante_materia_periodos.id_materia=materia.id").joins("join semestres on estudiante_materia_periodos.id_semestre=semestres.id").where("estudiante_materia_periodos.id_estudiante=#{@id_estud} and semestres.id_sem =#{elem.id_sem}")%>
 <div>
<% @cursossem.each do |cur| %>
<div class="img">


<div class="desc">

<b><%= cur.idu%></b><br>
<%= cur.nombre%><br>


</div>


</div>
<%end%>
<div class="img">


<div class="desc">


	Agregar al semestre:<br>
	<%= form_for :semestre, url: semestre_new_path do |f| %>
	
	
	<%= f.hidden_field :cod_stud, :value => "#{@cdest}" %>
	<br>
	
	<%= f.collection_select :materia, @materias, :id, :idu %></td>
	<br>
	
	<%= f.hidden_field :semestre_id, :value =>"#{elem.id}" %>
	<br>
	<%= f.submit "Agregar" %>
	
	<% end %>



</div>


</div>
</div>
  </div>
    <%end%>

</div>
<br>
<a href="javascript:history.back()">Volver</a>
	
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>

    <script type="text/javascript">
      

      
$('#main-slider').liquidSlider();
      
     
      
    </script>